html, body, .container { display: block; height: 100%;}
body:before {
    content: '';
    position: absolute; top: 0; left: 0;
    display: block; width: 50%; height: 100%;
    background: url("./bg-l.png") no-repeat; background-size: 100px; background-position: left top;
}
body:after {
    content: '';
    position: absolute; top: 0; right: 0;
    display: block; width: 50%; height: 100%;
    background: url("./bg-r.png") no-repeat; background-size: 100px; background-position: right top;
}
.container { position: relative; z-index: 100;}
/*.body { position: relative; margin-top: 120px; z-index: 10;}*/
/*.thumb img { max-width: 100%;}*/
/*.btns { display: block; padding: 10px 0;}*/
/*.btns .btn { display: block; height: 60px; line-height: 45px; margin-bottom: 10px; font-size: 24px;}*/
.mask {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 200; background: rgba(0, 0, 0, 204);
    display: none;
}
.mask img { width: 100%;}
.app-name .thumb { display: block; width: 120px; height: 120px; border-radius: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, .1); margin: 0 auto; box-sizing: border-box; position: relative; margin-top: 20px;}
.app-name .thumb img { display: block; width: 80px; height: 80px; border-radius: 16px; border: 1px solid #e5e5e5; position: absolute; top: 20px; left: 20px;}
.app-name { text-align: center;}
.app-name .title { font-weight: bold; font-size: 24px; line-height: 48px; margin-top: 20px;}
.app-name .help-block p { display: block; line-height: 16px; font-size: 12px; color: #999;}
.qrcode { display: block; width: 130px; height: 130px; border: 1px solid #e5e5e5; margin: 24px auto; padding: 8px;}
.qrcode img { display: block; width: 100%;}
.btn-down .btn { display: block; height: 48px; line-height: 36px; font-size: 18px; width: 180px; margin: 12px auto;}
.btn-down .btn i { margin-right: 8px;}

.desc .title{ font-weight: bold; line-height: 36px; font-size: 18px;}
